<br>
<br>
<br>
<DIV ID="TextSection" DIR="LTR">
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in; page-break-before: always"><A NAME="_Toc248298536"></A><A NAME="_Toc248298529"></A><A NAME="_Toc293654332"></A>
  <h4><B>CLIENT SERVICES AGREEMENT</B></h4></P>
  <FONT FACE="Arial Bold, serif" style='fon-size: 15px'><B>A.   PARTIES</B></FONT></P>
  <FONT FACE="Arial Bold, serif"><B>A.1</B>   Company</FONT></P>
  <TABLE WIDTH=591 CELLPADDING=9 CELLSPACING=0>
    <COL WIDTH=189>
    <COL WIDTH=364>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Name</B></P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        Neuralle Pty Ltd ABN 75 608 278 593 (<B>Company</B>)</P>
      </TD>
    </TR>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Address</B></P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <FONT COLOR="#222222"><SPAN LANG="en-AU"><SPAN STYLE="background: #ffffff">502/153
        Wellington Parade South, East Melbourne VIC 3002</SPAN></SPAN></FONT></P>
      </TD>
    </TR>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Contact</B></P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        Jordan Michaelides - jordan@neuralle.com</P>
      </TD>
    </TR>
  </TABLE>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in"><BR>
  </P>
  <FONT FACE="Arial Bold, serif"><b>A.2</b>   Client</FONT>
  <TABLE WIDTH=591 CELLPADDING=9 CELLSPACING=0>
    <COL WIDTH=189>
    <COL WIDTH=364>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Name</B></P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
      </TD>
    </TR>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Address</B></P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
      </TD>
    </TR>
    <TR VALIGN=TOP>
      <TD WIDTH=189 BGCOLOR="#f2f2f2" STYLE="border: 1px solid #000001; padding: 0.1in">
        <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">
        <B>Contact </B>
        </P>
      </TD>
      <TD WIDTH=364 BGCOLOR="#ffffff" STYLE="border: 1px solid #000001; padding: 0.1in">
      </TD>
    </TR>
  </TABLE>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in"><BR>
  </P>
  <P LANG="en-US" ALIGN=LEFT STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-top: 0.25in; margin-bottom: 0.17in; text-transform: uppercase">
  <h4><FONT FACE="Arial Bold, serif"><B>Execution</B></FONT></h4></P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in">By selecting the box & approving the submission, both parties agree to the terms set out in this Client Services Agreement.</P>

  <P ALIGN=CENTER STYLE="margin-left: 0.5in; text-indent: -0.5in; margin-top: 0.33in; text-transform: uppercase; page-break-before: always; page-break-after: avoid">
  <h4><FONT FACE="Arial Bold, serif"><B>CLIENT SERVICES AGREEMENT</B></FONT></h4></P>
  <P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
  Neuralle Pty Ltd ABN 75 608 278 593 (<B>Company</B>) provides custom
  content creation and digital marketing services. This Client
  Services Agreement governs all services provided by the Company to
  the Client.</P>
  <OL>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>Definitions</B></FONT></P>
  </OL>
  <OL class='sub'>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The following definitions apply in this document:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>ABN </B>means Australian Business Number.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref190180893"></A>
        <B>Agreement</B> means this Client Services Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Approval</B> means approval of a Scope or Deliverable by an
        Authorised Person.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Authorised Person</B> means the directors or employees of the
        Client authorised by the directors to approve a Scope or
        Deliverable, and in default shall be any person named as a Client
        contact in the Parties section of this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Authorised User</B> means a user of the Platform authorised by
        the Client to use the Client’s Platform account.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Business Day </B>means a day (other than a Saturday, Sunday or
        public holiday) on which banks are open for general banking
        business in Sydney, Australia.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685642"></A>
        <B>Change Request</B> means a written notice from the Client
        requesting a change to the Deliverables subject to the Scope, or
        any additional work not specified in a Scope or otherwise
        previously agreed to be provided by the Company.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Client</B> means a client or customer of the Company that uses
        any of the Services, and includes the client as identified on any
        Scope or any “Parties” section to this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Client IP</B> means all Intellectual Property of the Client
        contained in any information provided to the Company in the
        course of providing the Work.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Commencement Date</B> means the earlier of:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          The date stated as the Commencement Date in a Scope, which in
          default shall be the date the Scope is accepted by the Client;
          or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          The date when the Company first provides Services to the Client.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Company</B> means Neuralle Pty Ltd, ABN 75 608 278 593 an
        Australian company.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Company IP</B> means all Intellectual Property of the Company
        incorporated in the Work or Platform, and includes any updates or
        improvements made to that Intellectual Property.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Confidential Information</B> means any written or verbal
        information that:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Is about each party’s business or affairs;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Is about the conduct of each party under this Agreement and the
          during the term of this Agreement;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          A party informs the other party that it considers it
          confidential and/or proprietary;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          A party would reasonably consider to be confidential in the
          circumstances; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Is personal information within the meaning of the Privacy Act.</P>
        </OL>
      </OL>
    </OL>
  </OL>
  <P STYLE="margin-left: 1in; font-variant: normal; font-weight: normal; page-break-after: auto">
  but does not include information that a party can establish:</P>
  <OL>
    <OL>
      <OL TYPE=a>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Was in the public domain at the time it was given to that party;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Became part of the public domain, without that party’s
          involvement in any way, after being given to the party;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Was in party's possession when it was given to the party,
          without having been acquired (directly or indirectly) from the
          disclosing party; or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Was received from another person who had the unrestricted legal
          right to disclose that information free from any confidentiality
          obligation.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Custom Content</B> means any Deliverable content created by
        the Company for the Client under this agreement, and includes:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Blog posts and articles;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Video or film;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Podcasts;
          </P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Press releases;
          </P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Advertising, website or other promotional copy;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Photographs and captions;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Layouts, artwork or scripts; and
          </P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Any other media subject to a Scope.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Deliverable</B> means any deliverable supplied by the Company
        subject to a Scope.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Expenses</B> has the meaning set out in clause 11.1(e).</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Fee </B>means a fee charged by the Company for the provision
        of any Services.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Fixed Fee Rate</B> means any set Fee that applies to a
        particular set of Work.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>GST</B> has the same meaning as in A New Tax System (Goods and
        Services Tax) Act 1999 (Cth).<B> </B>
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Intellectual Property</B> means any intellectual property
        rights, whether registrable or not, including all copyright,
        patents, inventions, trade secrets, know-how, product
        formulations, designs, databases, registered or unregistered
        trademarks, brand names, business names, domain names and other
        forms of intellectual property of a party in any part of the
        world, and including <SPAN LANG="en-US">applications for the
        registration of any such rights and any improvements,
        enhancements or modifications to such registrations</SPAN>.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Intellectual Property Rights</B> means, for the duration of
        the rights in any part of the world, any industrial or
        intellectual property rights, whether registrable or not,
        including in respect of Intellectual Property, applications for
        the registration of any Intellectual Property and any
        improvements, enhancements or modifications to any Intellectual
        Property registrations.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>New IP</B> means Any Intellectual Property generated by the
        Company for the Client in the process of providing the Work.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Platform</B> means the Company’s proprietary suite of tools
        and features made available to Users via the Site.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Privacy Act </B>means the Privacy Act 1988 (Cth).</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Privacy Policy</B> means the Company’s privacy policy as
        updated from time-to-time, which can be found at
        http://www.neuralle.com/privacy-policy.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Scope </B>means any scope, project specification, statement of
        work, proposal or quote prepared by the Company, and accepted by
        the Client in writing.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Services</B> means the services provided by the Company
        subject to this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Special Conditions</B> means any particular arrangements made
        between the parties that are governed by this Agreement and/or
        change any term or condition of this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Site</B> means the Company’s website accessible at
        http://www.neuralle.com.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Subscription Fee </B>means a Fee charged by the Company to the
        Client on a periodical basis.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Tax Invoice </B>has the same meaning as in A New Tax System
        (Goods and Services Tax) Act 1999 (Cth).</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Third-Party IP</B> means any rights which are owned by a
        third-party that are attached to any materials included in the
        Work, which may be attached to (without limitation) code,
        web-design templates, photographs; written works; visual and
        artistic design; video and film; and audio recordings.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>User</B> means any registered Client or Authorised User that
        uses the Platform.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>User Content</B> means images, information, documents or other
        data that is uploaded or input into the Platform by the User or
        that forms part of the User’s Intellectual Property.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Work </B>means the Services and Deliverables subject to a
        Scope.</P>
      </OL>
    </OL>
  </OL>
  <OL start='2'>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298538"></A><A NAME="_Toc357429986"></A><A NAME="_Toc253830638"></A><A NAME="_Toc241139914"></A>
    <FONT FACE="Arial Bold, serif"><B>Agreement and Commencement</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The relationship between the parties shall be governed by the
      terms of this Agreement until terminated under the provisions of
      this Agreement.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      This Agreement commences on the Commencement Date.  Where the
      Commencement Date pre-dates the Agreement Date the Parties
      expressly acknowledge that the terms and conditions of this
      Agreement, to the extent reasonably possible, commenced on the
      Commencement Date, and this Agreement is the formalisation of an
      existing undocumented agreement between the Parties.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      In order to accept the terms of a Scope the Client must accept the
      terms of this Agreement. If the Client does not accept the terms
      of this Agreement, it must not accept a Scope.</P>
    </OL>
  </OL>
  <OL START=3>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc357429987"></A>
    <FONT FACE="Arial Bold, serif"><B>Services</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_GoBack"></A>
      The Company may provide any of the following services (<B>Services</B>)
      to the Client:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Custom Content creation;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Social media marketing;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Search engine optimization (<B>SEO</B>);</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Search engine marketing (<B>SEM</B>);</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Email marketing;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Content marketing;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Paid social media advertising; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Such other services as may be agreed between the parties from
        time-to-time.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Any project specification, proposal or quote prepared by the
      Company and accepted by the Client (whether orally or in writing)
      sets out the scope (<B>Scope</B>) of the Services and Deliverables
      the Client has requested (<B>Work</B>). The Work will not extend
      beyond that scope unless the Company and the Client agree in
      writing.
      </P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company will provide the following Work to the Client:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Services; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Such other services and Deliverables as described in a Scope as
        may be agreed from time to time.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client acknowledges that (unless specified as a Deliverable in
      a Scope) the Company makes no representation or guarantee that the
      Client will achieve particular outcomes as a result of the
      Services.</P>
    </OL>
  </OL>
  <OL START=4>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>Client Approval</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client shall notify the Company in writing of any change
      regarding who is an Authorised Person during the term of this
      Agreement.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company shall not be responsible for any delay in carrying out
      the Work that results from the unavailability of an Authorised
      Person to provide Approval, or if an Authorised Person otherwise
      fails to meet a deadline for providing Approval.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Approval shall be provided by:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        A letter, fax, email email or other online direct messaging
        service used by the Company from an Authorised Person bearing
        Approval; or</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Oral approval by an Authorised Person, either by phone, VOIP or
        face-to-face.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      After obtaining Approval of a Scope, the Company shall submit
      draft Custom Content to the Client for specific Approval as
      required.
      </P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Approval of drafts or proofs shall be taken by the Company as
      authorisation to publish.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client shall not obtain any rights to a draft or proof of a
      Deliverable until it has provided Approval.</P>
    </OL>
  </OL>
  <OL START=5>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>Change requests</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      No Change Request from the Client is valid until accepted in
      writing by the Company.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Unless agreed otherwise in writing, the Company’s usual rates
      (as specified in the Scope or otherwise provided to the Client)
      shall apply in respect of any Change Request undertaken by the
      Company.</P>
    </OL>
  </OL>
  <OL START=6>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>relationship</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company warrants that it is an independent service provider to
      the Client and that it is not an employee or partner of the Client
      in any way.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company will not:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Hold itself out as an agent of the Client, except to the extent
        necessary to carry out the Work; or
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Incur obligations or liabilities on behalf of the Client unless
        the Client provides written permission.</P>
      </OL>
    </OL>
  </OL>
  <OL START=7>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Ref301019899"></A><A NAME="_Toc248298539"></A><A NAME="_Toc346527782"></A>
    <FONT FACE="Arial Bold, serif"><B>KEY OBLIGATIONS</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company will:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191631452"></A>
        Ensure that the Work is complete and provided in a timely manner
        and/or in accordance with any timeframes agreed by the parties;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Ensure that the Work is provided in accordance with the standards
        outlined in the Scope;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Establish and maintain clear channels of communication at all
        times with the Client, and promptly answer any questions asked by
        the Client;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Comply with all the relevant laws and industry standards in
        respect of providing the Work; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Act in accordance with the Client’s reasonable directions while
        providing the Work.</P>
      </OL>
    </OL>
  </OL>
  <OL START=8>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Ref301019948"></A><A NAME="_Toc248298540"></A>
    <FONT FACE="Arial Bold, serif"><B>THE CLIENT’s key obligations</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client will:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191631536"></A>
        Ensure that the Company has access to all the:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Resources, personnel, electronic systems and premises required
          to provide the Work; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          All facilities and materials and information reasonably
          requested by the Company to provide the Work;</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Establish and maintain clear channels of communication at all
        times with the Company;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Promptly provide clear, complete and timely instructions
        (including meeting any deadline) and all necessary information
        and documents to enable the Company to provide the Work
        effectively.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client must immediately advise the Company, if the Company
        have misunderstood the Client or made incorrect assumptions.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Promptly provide the Company with a copy of all applicable
        policies, procedures, rules, regulations, standards of conduct
        and requirements relevant to the provision of the Services.</P>
      </OL>
    </OL>
  </OL>
  <OL START=9>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298542"></A><A NAME="_Toc346527789"></A><A NAME="_Ref191633839"></A><A NAME="_Ref301020556"></A>
    <FONT FACE="Arial Bold, serif"><B>Subcontracting</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company may engage such third-parties as are necessary to
      provide the Work without the Client’s approval.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company shall be responsible for ensuring that all third-party
      subcontractors comply with the Company’s obligations under this
      Agreement, including those of Confidentiality.</P>
    </OL>
  </OL>
  <OL START=10>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298530"></A>
    <FONT FACE="Arial Bold, serif"><B>Platform</B></FONT></P>
  </OL>
  <OL>
    <OL START=1>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>General</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        To use the Platform, the User must log into the Platform and have
        set up their account.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User agrees that all use of the Platform is subject to:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          This Agreement;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          The Privacy Policy; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Any terms of service documentation that applies specifically to
          the use of the Platform.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Platform is only available to Users over the age of 18.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client shall be responsible for:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Paying the Fees; and
          </P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Each Authorised User’s use of the Platform that the Client
          authorises.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client is responsible for ensuring each Authorised User
        complies with the terms of this Agreement, and any terms of
        service that apply to the use of the Platform.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company may suspend the account or restrict the access of any
        User that breaches the terms of this Agreement.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Using the Platform.</B>
      </P>
    </OL>
  </OL>
  <P STYLE="margin-left: 0.5in; font-variant: normal; font-weight: normal; page-break-after: auto">
  The Company may provide the Client with access to the Platform for
  the purposes of forming a Scope and/or providing the Services. The
  Platform may enable the Client to:</P>
  <OL>
    <OL>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Submit a request for Services to the Company (<B>Service
        Request</B>);</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Communicate with the Company regarding:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          A Scope;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Services; and/or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Deliverables.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Review Services, drafts and/or Deliverables;</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Provide Approval; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Such other features as the Company may make available from
        time-to-time.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Service Requests.</B>
      </P>
    </OL>
  </OL>
  <P STYLE="margin-left: 0.5in; font-variant: normal; font-weight: normal; page-break-after: auto">
  Where the Client submits a Service Request:</P>
  <OL>
    <OL>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company may respond to the Client via the Platform, email or
        other online direct messaging service used by the Company  and:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Accept the Service Request;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Reject the Service Request; or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Request further details in relation to the Service Request.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        If the Company accepts a Service Request standard pricing as
        described on the Site shall apply, unless agreed otherwise
        between the parties. Such accepted Service Request shall then
        constitute a Scope for the Work subject to the Service Request.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company shall advise the Client of any reason why a Service
        Request is declined. The declining of a Service Request shall not
        restrict the Client from submitting another Service Request if
        the reason for rejection is capable of remedy by the Client.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc193374941"></A><A NAME="_Ref192244904"></A><A NAME="_Ref188527681"></A>
      <B>Licence</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        By accepting the terms and conditions of this Agreement, the User
        is granted a limited, non-exclusive and revocable licence to
        access and use the Platform for the duration of this Agreement,
        in accordance with the terms and conditions of this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company may issue the licence to the User on the further
        terms or limitations (including the number of users or volume of
        use or transactions) as it sees fit.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company may revoke or suspend the User’s licence(s) in its
        absolute discretion for any reason that it sees fit, including
        for breach of the terms and conditions in this Agreement by the
        User.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Modification of Terms</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The terms of this Agreement may be updated by the Company from
        time-to-time.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Where the Company modifies the terms, it will provide the User
        with written notice, and the User will be required to accept the
        modified terms in order to continue using the Platform.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Software-as-a-Service</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User agrees and accepts that the Platform is:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Hosted by the Company and shall only be installed, accessed and
          maintained by the Company, accessed using the internet or other
          connection to the servers operated by the Company and is not
          available ‘locally’ from the User’s systems; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Managed and supported exclusively by the Company from the
          servers operated by the Company and that no ‘back-end’
          access to the Platform is available to the User unless expressly
          agreed in writing.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref192242957"></A>
        As a hosted and managed service, the Company reserves the right
        to upgrade, maintain, tune, backup, amend, add or remove
        features, redesign, improve or otherwise alter the Platform.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref340846228"></A>
      <B>Support</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company provides user support for the Platform via the email
        address jordan@neuralle.com.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company shall endeavour to respond to all support requests
        within 1 Business Day.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref361572996"></A>
      <B>Use &amp; Availability</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User agrees that it shall only use the Platform for legal
        purposes and shall not use it to engage in any conduct that is
        unlawful, immoral, threatening, abusive or in a way that is
        deemed unreasonable by the Company in its discretion.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User is solely responsible for the security of its username
        and password for access to the Platform. The User shall notify
        the Company as soon as it becomes aware of any unauthorised
        access of its the Platform account.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User agrees that the Company shall provide access to the
        Platform to the best of its abilities, however:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Access to the Platform may be prevented by issues outside of its
          control; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          It accepts no responsibility for ongoing access to the Platform.</P>
        </OL>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref361573002"></A>
      <B>Privacy</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company maintains the Privacy Policy in compliance with the
        provisions of the Privacy Act for data that it collects about the
        User and other customers.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Privacy Policy does not apply to how the Client handles
        personal information.  If necessary under the Privacy Act, it is
        the Client’s responsibility to meet the obligations of the
        Privacy Act by implementing a privacy policy in accordance with
        law.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Platform may use cookies (a small electronic tracking code)
        to improve a User’s experience while browsing, while also
        sending browsing information back to the Company. The User may
        manage how it handles cookies in its own browser settings.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc193374938"></A><A NAME="_Ref361573004"></A>
      <B>Data</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Security.</B>  The Company takes the security of the Platform
        and the privacy of its Users very seriously.  The User agrees
        that the User shall not do anything to prejudice the security or
        privacy of the Company’s systems or the information on them.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Transmission.</B>  The Company shall do all things reasonable
        to ensure that the transmission of data occurs according to
        accepted industry standards.  It is up to the User to ensure that
        any transmission standards meet the User’s operating and legal
        requirements.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Storage.</B> The Company stores data on servers based in the
        USA according to accepted industry standards. If the User
        requires its User Data to be stored in a different location, the
        Company may charge the User a fee to do so.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        <B>Backup.</B>  The Company shall perform backups of its entire
        systems in as reasonable manner at such times and intervals as is
        reasonable for its business purposes.  The Company does not
        warrant that it is able to backup or recover specific User Data
        from any period of time unless so stated in writing by the
        Company.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Disclaimer of Third Party Services &amp; Information</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User acknowledges that the Platform is dependent on
        third-party services, including but not limited to:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Banks, credit card providers and merchant gateway providers;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Telecommunications services;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Hosting services;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Email services; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Analytics services.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The User agrees that the Company shall not be responsible or
        liable in any way for:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Interruptions to the availability of the Platform due to
          third-party services; or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Information contained on any linked third party website.</P>
        </OL>
      </OL>
    </OL>
  </OL>
  <OL START=11>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>FEES & PAYMENT</B></FONT></P>
  </OL>
  <OL>
    <OL START=1>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301092634"></A>
      <B>Fees</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company will charge the Client such fees as specified in the
        Scope (<B>Fees</B>) which may include:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          A Fixed Fee Rate;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          An upfront Fee;
          </P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          A Subscription Fee; and/or</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Payment terms in accordance with a specified payment schedule.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301092639"></A>
        Where a Fixed Fee Rate applies the Client agrees:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301092642"></A>
          To pay the upfront Fee for the Company’s commitment to
          undertake the agreed work;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          The Fixed Rate Fee only covers work done within the Scope;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301092693"></A>
          The Client must provide instructions (and all required
          information and other documents) to the Company within the
          timeframe(s) specified in the Scope; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          The Fixed Fee Rate does not cover any work done outside of (i)
          to (iv) (inclusive) above.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company reserve the right to not undertake any work falling
        outside of 11.1(b)(b)i to 11.1(b)iii above without additional
        payment or an agreement by the Client to pay the Company at its
        hourly rates. The Company will advise the Client as soon as
        reasonably practicable where work falls outside of these
        parameters and give the Client an estimate of the additional
        costs/rates.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301439538"></A>
        Where a Subscription Fee applies, the Client agrees to pay the
        Subscription Fee in advance, and at such periods as specified in
        the Scope, which in default shall be monthly. Unless agreed
        otherwise the Subscription Fee shall be charged in accordance
        with the pricing on the Site.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref363218038"></A>
        If the Company obtains any goods or services for the Work from
        third parties the Client agrees to pay these at cost (<B>Expenses</B>).
        Such Expenses may include, without limitation:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Design, artwork and print;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Film or animation production;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Photography and prints;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Specialist IT software;</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Third-party hosting services; and</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Any other expense not included in the Fees subject to the Scope.</P>
        </OL>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        For the avoidance of doubt any services contained in Expenses
        shall not constitute subcontracting pursuant to clause 9 of this
        Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company shall obtain approval from the Client prior to
        incurring the cost of any Expenses.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Unless otherwise stated, fees are exclusive of GST, which is
        payable in addition at the prevailing rate.
        </P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Invoicing &amp; Payment</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191631777"></A>
        The Company shall provide a Tax Invoice to the Client for any
        paid Work provided.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client agrees to pay any Tax Invoice promptly and within the
        stated timeframe, which in default shall be within 1 Business Day
        from the date of the invoice. Payment shall be by electronic
        transfer into the Company’s nominated bank account unless
        otherwise agreed between the Parties.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Disputed Tax Invoice</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Should the Client dispute any charge on a Tax Invoice, the Client
        must notify the Company of the disputed item within 5 business
        days of the date of the Tax Invoice.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client must pay the amount of the Tax Invoice not in dispute
        within the stated timeframe.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Failure by the Client to notify the Company of a disputed Tax
        Invoice within 10 business days shall be deemed acceptance by the
        Client of the entire Tax Invoice.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Interest</B></P>
    </OL>
  </OL>
  <P STYLE="margin-left: 0.5in; font-variant: normal; font-weight: normal; page-break-after: auto">
  The Company may charge interest at a rate of 10% per annum on
  overdue Tax Invoices.
  </P>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref258757434"></A>
      <B>Late Payment.</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref258758381"></A>
        If the Client does not pay the full Fees as required, the Company
        may suspend all Work.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref258758588"></A><A NAME="_Ref258757439"></A>
        If Fees are not brought out of arrears within 7 days of becoming
        overdue, the Company may cease providing the Work without notice
        and end this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client agrees that the Company shall not be responsible or
        liable in any way for:</P>
        <OL TYPE=i>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Interruptions to the availability of Work in the event of (a);</P>
          <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
          Loss of Client IP in the event of (b).</P>
        </OL>
      </OL>
    </OL>
  </OL>
  <OL START=12>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>INTELLECTUAL PROPERTY</B></FONT></P>
  </OL>
  <OL>
    <OL START=1>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Company IP</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client acknowledges that the Company retains ownership of all
        of the Company IP.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company grants the Client a non–exclusive, perpetual,
        non–transferable, royalty free and worldwide licence to use,
        for the purposes of its day to day business, the Company IP to
        the extent that it is contained within the Work.
        </P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Client IP</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Company acknowledges that the Client retains ownership of all
        of Client IP.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client grants the Company a non–exclusive, perpetual,
        non–transferable, royalty free and worldwide licence to use the
        Client IP to the extent that it is contained within the Work.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301091502"></A>
        The Client grants the Company a non–exclusive, perpetual,
        non–transferable, royalty free and worldwide licence to use the
        Client IP/Client’s name and logo in the Company marketing or
        tender documents, unless the Client directs the Company not to.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Third-Party IP</B></P>
    </OL>
  </OL>
  <P STYLE="margin-left: 0.5in; font-variant: normal; font-weight: normal; page-break-after: auto">
  The Company shall grant to the Client such rights as the owner of
  the Third-Party IP permits the Company to grant the Client.</P>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>New IP</B></P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        New IP is owned absolutely by the Client and vests in the Client
        immediately.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        To the extent that the Company may at any time acquire any right,
        title or interest in the New IP, the Company, by this document,
        agrees to assign to the Client all such rights, title and
        interest in the New IP.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref301015668"></A>
        Unless otherwise agreed in writing by the parties, and
        notwithstanding any provision of this Agreement to the Contrary,
        the Client grants the Company a non-exclusive, perpetual,
        non-transferable, royalty free and worldwide licence to use, for
        the purposes of its day to day business, the New IP to the extent
        that it is contained within the Work.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        The Client may only use the New IP for the purpose for which it
        was created, and no work in draft or incomplete form, or that was
        not otherwise Approved may be used or published as finished work
        without the Company’s prior written consent.</P>
      </OL>
    </OL>
  </OL>
  <OL START=13>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>CONFIDENTIALITY</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      A party shall not:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Use any of the Confidential Information except to the extent
        necessary to exercise its rights and perform its obligations
        under this Agreement; or</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Disclose any of the Confidential Information except in accordance
        with clause 13.2.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191633883"></A>
      Subject to clause 13.3, a Party may disclose Confidential
      Information that a Party is required to disclose:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        By law or by order of any court or tribunal of competent
        jurisdiction; or</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        By any Government Agency, stock exchange or other regulatory
        body.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191633915"></A>
      If a party is required to make a disclosure under clause 13.2,
      that party must:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        To the extent possible, notify the other party immediately after
        it anticipates that it may be required to disclose any of the
        Confidential Information; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Only disclose Confidential Information to the extent necessary to
        comply.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Service Provider and the Company must each assist the other to
      comply with its obligations under the <I>Privacy Act </I>1988
      (Cth) in relation to Confidential Information.</P>
    </OL>
  </OL>
  <OL START=14>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>PRIVACY AND DIRECT MARKETING</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company maintains the Privacy Policy in compliance with the
      provisions of the Privacy Act for data that it collects about
      individuals.
      </P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Privacy Policy does not apply to how the Client handles
      personal information.  If necessary under the Privacy Act, it is
      the Client’s responsibility to meet the obligations of the
      Privacy Act by implementing a privacy policy in accordance with
      law.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company may collect personal information about the Client and
      its representatives and employees in the course of acting for the
      Client. This personal information will only be disclosed and used
      for the purposes of providing the Work, improving the Company’s
      services and obtaining feedback, or otherwise in accordance with
      the Client’s instructions and the Privacy Policy.
      </P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Where the Client provides the Company with the personal
      information of its customers, employees, contractors or other
      individuals, the Client warrants that it is duly authorised to do
      so.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client consents to the Company’s use of the Client’s
      contact details to maintain an ongoing professional relationship
      with the Client and any associated entity, including in order to
      provide updates, invitations and other communications the Company
      consider may interest the Client.
      </P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client may have rights under the <I>Privacy Act</I> 1988 (Cth)
      to obtain access to personal information the Company holds. The
      Client may ask the Company not to send direct marketing materials
      by contacting the Company by email in accordance with the Privacy
      Policy.</P>
    </OL>
  </OL>
  <OL START=15>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298543"></A><A NAME="_Toc346527787"></A>
    <FONT FACE="Arial Bold, serif"><B>DISPUTE RESOLUTION</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      If any dispute arises between the Client and the Company in
      connection with this Agreement (<B>Dispute</B>), then either party
      may notify the other of the Dispute with a notice (<B>Dispute
      Notice</B>) which:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Includes or is accompanied by full and detailed particulars of
        the Dispute; and</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
        Is delivered within 10 Business Days of the circumstances giving
        rise to the Dispute first occurring.</P>
      </OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Within 10 Business Days after a Dispute Notice is given, a
      representative (with the authority to resolve the dispute) of the
      Client and the Company must meet and seek to resolve the Dispute.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Subject to clause 15.4, a party must not bring court proceedings
      in respect of any Dispute unless it first complies with the
      requirements of the dispute resolution mechanism outlined in this
      clause.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref191631974"></A>
      Nothing in this clause prevents either party from instituting
      court proceedings to seek urgent injunctive, interlocutory or
      declaratory relief in respect of a Dispute.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Despite the existence of a Dispute, the parties must continue to
      perform their respective obligations under this document and any
      related agreements.</P>
    </OL>
  </OL>
  <OL START=16>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298544"></A><A NAME="_Toc357430003"></A>
    <FONT FACE="Arial Bold, serif"><B>Termination</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      This Agreement shall end when the Services and/or Deliverables
      have been completed by the Company in the reasonable opinion of
      the Client, or at any time agreed by the parties in writing.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Without affecting any other rights or obligations of the parties,
      either party may terminate this Agreement by giving 30 days’
      written notice.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Where a party is in breach of this Agreement, the other party may
      provide the breaching party a notice to remedy the breach within a
      reasonable time, which shall not be less than 10 business days.
      Should the breach remain unremedied then the other party may
      terminate this contract by written notice.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <SPAN LANG="en-US">Should the Client terminate this Agreement
      without cause, it shall remain liable to pay any Fees that it had
      agreed to pay the Company for all active and/or delivered Work.</SPAN></P>
    </OL>
  </OL>
  <OL START=17>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>Modification of Terms</B></FONT></P>
  </OL>
  <OL>
    <OL>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The terms of this Agreement may be updated by the Company from
      time-to-time.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Where the Company modifies the terms, it will provide the Client
      with 30 days’ written notice, and the Client will be required to
      accept the modified terms in order to continue using the Services.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      If the Client does not accept the modified terms, it must notify
      the Company and terminate this Agreement.</P>
    </OL>
  </OL>
  <OL START=18>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid"><A NAME="_Toc248298546"></A><A NAME="_Toc188598638"></A><A NAME="_Ref449348504"></A>
    <FONT FACE="Arial Bold, serif"><B>Electronic Communication,
    Amendment &amp; Assignment</B></FONT></P>
  </OL>
  <OL>
    <OL START=1>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The words in this clause that are defined in the <I>Electronic
      Transactions Act 1999 (Cth)</I> have the same meaning.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client can direct notices, enquiries, complaints and so forth
      to the Company as set out in this Agreement.  The Company will
      notify the Client of a change of details from time-to-time.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company will send the Client notices and other correspondence
      to the details that the Client submits to the Company, or that the
      Client notifies the Company of from time-to-time. It is the
      Client’s responsibility to update its contact details as they
      change.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref187853264"></A>
      A consent, notice or communication under this Agreement is
      effective if it is sent as an electronic communication unless
      required to be physically delivered under law.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Notices must be sent to the parties’ most recent known contact
      details.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Client may not assign or otherwise create an interest in this
      Agreement.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      The Company may assign or otherwise create an interest in its
      rights under this Agreement by giving written notice to the
      Client.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      Notices to the Company must be sent to:</P>
    </OL>
  </OL>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in"><BR>
  </P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  Neuralle Pty Ltd</P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  <FONT COLOR="#333333"><SPAN LANG="en-AU"><SPAN STYLE="background: #ffffff">502/153
  Wellington Parade South, </SPAN></SPAN></FONT>
  </P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  <FONT COLOR="#333333"><SPAN LANG="en-AU"><SPAN STYLE="background: #ffffff">East
  Melbourne, VIC 3002</SPAN></SPAN></FONT></P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  <FONT COLOR="#333333"><SPAN LANG="en-AU"><SPAN STYLE="background: #ffffff">Australia
  </SPAN></SPAN></FONT>
  </P>
  <P CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  <BR>
  </P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="text-indent: 0.5in; margin-top: 0in">
  <FONT COLOR="#333333"><SPAN LANG="en-AU"><SPAN STYLE="background: #ffffff">jordan@neuralle.com
  </SPAN></SPAN></FONT>
  </P>
  <OL START=19>
    <LI><P STYLE="margin-top: 0.33in; text-transform: uppercase; page-break-after: avoid">
    <FONT FACE="Arial Bold, serif"><B>general</B></FONT></P>
  </OL>
  <OL>
    <OL START=1>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Special Conditions. </B>The parties may agree to any Special
      Conditions to this Agreement in writing.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Prevalence.</B> o the extent that the Scope is inconsistent
      with the terms of this Agreement, the terms of the Scope will
      prevail. To the extent that the Special Conditions are
      inconsistent with any other term of this Agreement, the Special
      Conditions will prevail.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Disclaimer.</B>  Each party acknowledges that it has not relied
      on any representation, warranty or statement made by any other
      party, other than as set out in this Agreement.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Relationship.  </B>The relationship of the parties to this
      Agreement does not form a joint venture or partnership.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Waiver. </B> No clause of this Agreement will be deemed waived
      and no breach excused unless such waiver or consent is provided in
      writing.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Further Assurances.  </B>Each party must do anything necessary
      (including executing agreements and documents) to give full effect
      to this Agreement and the transaction facilitated by it.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Ref190184794"></A>
      <B>Governing Law.  </B>This Agreement is governed by the laws of
      the state of New South Wales, Australia.  Each of the parties
      hereby submits to the non-exclusive jurisdiction of courts with
      jurisdiction there.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
      <B>Severability.</B>  Any clause of this <SPAN LANG="en-US">Agreement</SPAN>,
      which is invalid or unenforceable is ineffective to the extent of
      the invalidity or unenforceability without affecting the remaining
      clauses of this Agreement.</P>
      <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685622"></A>
      <B>Interpretation.</B>  Headings are only for convenience and do
      not affect interpretation.  The following rules apply unless the
      context requires otherwise:</P>
      <OL TYPE=a>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685623"></A>
        The singular includes the plural and the opposite also applies.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685624"></A>
        If a word or phrase is defined, any other grammatical form of
        that word or phrase has a corresponding meaning.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685625"></A>
        A reference to a clause refers to clauses in this Agreement.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685626"></A>
        A reference to legislation is to that legislation as amended,
        re&#8209;enacted or replaced, and includes any subordinate
        legislation issued under it.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685627"></A>
        Mentioning anything after <I>includes</I>, <I>including</I>, or
        similar expressions, does not limit anything else that might be
        included.
        </P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685628"></A>
        A reference to a <I>party</I> to this Agreement or another
        agreement or document includes that party’s successors and
        permitted substitutes and assigns (and, where applicable, the
        party’s legal personal representatives).</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685629"></A>
        A reference to a <I>person</I>, <I>corporation</I>, <I>trust</I>,
        <I>partnership</I>, <I>unincorporated body</I> or other entity
        includes any of them.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685630"></A>
        A reference to <I>information</I> is to information of any kind
        in any form or medium, whether formal or informal, written or
        unwritten, for example, computer software or programs, concepts,
        data, drawings, ideas, knowledge, procedures, source codes or
        object codes, technology or trade secrets.</P>
        <LI><P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto"><A NAME="_Toc188685631"></A>
        A reference to <I>dollars</I> or <I>$</I> is to an amount in
        Australian currency unless otherwise explicitly specified.</P>
      </OL>
    </OL>
  </OL>
  <P STYLE="font-variant: normal; font-weight: normal; page-break-after: auto">
  <BR>
  </P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in"><BR>
  </P>
  <P LANG="en-US" CLASS="western" ALIGN=LEFT STYLE="margin-top: 0in"><BR>
  </P>
</DIV>