.recent-posts.visible-xs.visible-sm
  %h3 Most Read
  - @popular_posts.each_slice(4) do |slice|
    .container
      .row
        = render :partial => "/refinery/blog/shared/post", collection: slice
      .clearfix
