.media-carousel
  .item
    .image
      = image_tag "media/engagement.png"
    .text
      %h2 Customer engagement is getting harder and harder
      %p Platform reach has gone down by over 200% in the last 3 years, while platforms drive you to paid ads. Social platforms are cutting off niche businesses, such as the Cryptocurrency space.

  .item.hide
    .image
      = image_tag "media/unleash.png"
    .text
      %h2 Unleash your content production
      %p Invest in what matters to your company, not muddling around with freelancers and systems to produce content that creates sales.

  .item.hide
    .image
      = image_tag "media/focus.png"
    .text
      %h2 Focus on what you do best
      %p Neuralle handles the hard stuff — brief guidance, freelancer hiring, creation, distribution, support and more — so you and your business can stay focused on building a great company.

  .item.hide
    .image
      = image_tag "media/company.png"
    .text
      %h2 Turn your company into a content & engagement machine
      %p Today, every company needs content marketing & media to truly engage their customers. Radically transform your ability to produce, distribute and engage your customers at scale with Neuralle Media.
