.testimonials-carousel
  .item
    = fa_icon "quote-left"
    = fa_icon "quote-right"
    .text
      %p Parturient bibendum id risus eget scelerisque ante ad odio neque per mi a suspendisse a porta hac vitae non orci adipiscing scelerisque vestibulum. Purus auctor a tristique iaculis fusce etiam.
      %p.author Andrew Ryan
      %p.company CEO, Ryan Industries

  .item
    = fa_icon "quote-left"
    = fa_icon "quote-right"
    .text
      %p Duis curabitur dui eleifend senectus class id eros nunc vitae et eleifend parturient montes enim ullamcorper condimentum dapibus eleifend egestas per quam nam aliquam sodales dui. Nostra a lorem viverra nulla id cras condimentum diam vel adipiscing scelerisque mauris.
      %p.author Andrew Ryan
      %p.company CEO, Ryan Industries
