#index {
  h1 {
    padding: 10px 0 20px;
    font-size: 3.0rem;
  }

  h2 {
    color: $red;
    text-align: center;
    margin: 0 0 40px;
  }

  section {
    padding: 45px 0 60px;
    &.sym {
      padding: 60px 0;
    }
  }

  #blog_posts {
    padding: 110px 0 70px;
  }

  // section.read {
  //   padding: 45px 0 90px;
  //   #blog_posts {
  //     padding: 0;
  //   }
  //   .btn {
  //     margin: 20px 0 0;
  //   }
  // }

  // section.listen {
  //   background-color: $section_gray;
  //   padding: 60px 0 80px;
  //   .image {
  //     text-align: right;
  //   }
  //   img {
  //     max-width: 300px;
  //     width: 100%;
  //     border: 1px solid #d4d4d4;
  //   }
  //   .podcasts {
  //     ul {
  //       list-style: none;
  //       li {
  //         font-size: 1.6rem;
  //         h4 {
  //           margin: 0 0 14px;
  //           a {
  //             border: none;
  //           }
  //         }
  //       }
  //     }
  //     .btn.outline {
  //       margin: 7px 0 0 40px;
  //     }
  //   }
  //   @media (max-width: 991px) {
  //     .image {
  //       text-align: center;
  //       margin: 0 0 40px;
  //     }
  //     .podcasts {
  //       ul {
  //         padding: 0 10px;
  //       }
  //       .btn.outline {
  //         margin: 7px 0 0 10px;
  //       }
  //     }
  //   }
  // }

  // section.content {
  //   padding: 35px 0 60px;
  // }

  .sliders {
    img {
      width: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .caption {
      position: absolute;
      bottom: 15%;
      left: 5%;
      color: white;
      text-align: left;
      font-size: 13pt;
      max-width: 400px;

      p {
        margin-bottom: 20px;
      }

      h2 {
        color: white;
        text-align: left;
        font-weight: 700;
        font-size: 25pt;
        margin-bottom: 20px;
      }
    }

    .owl-pagination{
      position: absolute;
      margin-top: -50px;
      width: 100%;

      .owl-page span {
        background: #f6fdfa;

        &.active {
          background: white;
        }
      }
    }
  }

  // section#media-services {
  //   h2 {
  //     margin: 0 0 20px;
  //   }
  //
  //   #media #why {
  //     padding: 40px 0 40px;
  //   }
  // }

  section.subscribtion-form {
    padding: 80px 0 100px;
    margin-bottom: 10px;

    h2 {
      text-align: center;
      margin: 0 0 30px;
    }
    h4 {
      font-size: 2.1rem;
      margin: 0 0 15px;
      font-weight: lighter;
      text-align: center;
    }
    .text {
      padding: 35px 90px 0 30px;
    }
    #mc_embed_signup {
      margin: 28px 0 0;
    }

    @media (max-width: 1199px) {
      h4 {
        text-align: left;
      }
    }
    @media (max-width: 991px) {
      h4 {
        font-size: 2rem;
        text-align: center;;
      }
      .text {
        padding: 15px 15px 30px;
      }
      #mc_embed_signup {
        margin: 0;
      }
    }
    @media (max-width: 767px) {
      h4 {
        font-size: 1.8rem;
      }
    }
  }
}
