#pricing {

  section {
    padding: 60px 0 10px;
  }

  h1 {
    padding: 0;
  }

  h1, h2, h3 {
    margin-top: 0;
    text-align: center;
  }

  h3 {
    font-size: 2.1rem;
  }

  // .tile {
  //   position: relative;
  //   width: 100%;
  //   background-color: #fff;
  //   padding: 28px 19px 24px 19px;
  //   margin: 20px 0 10px;
  //   border-radius: 5px;
  //   text-align: center;
  //   h4 {
  //     color: $red;
  //     text-align: center;
  //   }
  //   hr {
  //     margin: 15px;
  //   }
  //   input[type="checkbox"], input[type="radio"] {
  //     position: absolute;
  //     visibility: hidden;
  //   }
  //   .product-price {
  //     display: block;
  //     width: 170px;
  //     margin: 20px auto 10px;
  //     font-size: 1.5rem;
  //     padding: 10px 0;
  //     border-radius: 3px;
  //     font-weight: 700;
  //   }
  // }

  // .plan-tile {
  //   @extend .tile;
  //   opacity: 0.85;
  //   transition: all .2s ease;
  //   box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
  //   cursor: pointer;
  //   &.content {
  //     h3 {
  //       color: $blue !important;
  //     }
  //     .btn {
  //       background: $blue;
  //     }
  //   }
  //   &.podcast {
  //     h3 {
  //       color: $red !important;
  //     }
  //     .btn {
  //       background: $red;
  //     }
  //   }
  //   &.customise {
  //     h3 {
  //       color: $purple !important;
  //     }
  //     .btn {
  //       background: $purple;
  //     }
  //   }
  //   h3 {
  //     font-size: 2.1rem;
  //     margin: 0 0 25px;
  //   }
  //   p {
  //     font-size: 1.6rem;
  //     color: #5d5d5d;
  //   }
  //   p.subtitle {
  //     font-size: 1.5rem;
  //     max-width: 300px;
  //     display: block;
  //     margin: -15px auto 0;
  //   }
  //   .product-description {
  //     p {
  //       font-size: 1.5rem;
  //       line-height: 1.8;
  //     }
  //   }
  //   &.active, &:hover {
  //     opacity: 1;
  //     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  //   }
  // }


  #headline {
    padding: 70px 0 0;
    background-color: #fff;

    h3 {
      margin: 20px 0;
    }
  }

  #customise {
    background: linear-gradient(180deg, #fcd5c3 0, #fff 100%);
    // background: linear-gradient(135deg, #fde3de 0, #fde3de 30%, #f88862 100%);
    padding: 70px 0 20px;

    h3 {
      line-height: 1.85;
      font-weight: 700;
    }
    h4 {
      text-align: center;
      width: 750px;
      margin: 0 auto 10px;
    }
    .logos {
      text-align: center;
      margin: 25px 0 0;
      img {
        width: 80px;
        margin: 0 15px 20px;
        display: inline;
      }
    }
  }

  #pricing-selector {
    transition: all .2s ease;
    text-align: center;
    margin: 35px 0 90px;
    input {
      visibility: hidden;
      position: absolute;
    }
    .btn-group {
      margin: 0 0 20px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
    }
    p {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.4rem;
    }
    .btn {
      width: 175px;
      padding: 20px 0;
      color: $characoal_gray;
      background: $section_gray;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      &.active {
        background: #f88862;
        color: #fff;
        &:hover {
          background: #f88862;
        }
      }
      &:hover {
        z-index: 0;
        background: #dfdfdf;
      }
    }
    .btn + .btn {
      border-left: 1px solid rgba(153, 153, 153, 0.28);
    }
  }

  #pricing-table {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 5px 15px 20px;
    background: #fff;
    width: 350px;
    margin: 0 auto 60px;
    table {
      width: 100%;
    }
    th {
      text-align: center;
      padding: 10px 0 5px;
    }
    td {
      width: 50%;
      height: 36px;
      text-align: center;
      font-size: 1.4rem;
      border: 1px solid #e8e8e8;
      padding: 7px;
      &.active {
        background: #fef1ec;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .product-tile {
    position: relative;
    width: 100%;
    padding: 28px 19px 24px 19px;
    margin: 20px 0 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);


    &.sliders-tile {
      padding: 30px 10px 32px 25px;
      text-align: left;
    }
  }

  #podcast-production {
    .product-tile {
      background: linear-gradient(135deg, #fff 0%, #fff7f4 100%);
    }
  }

  #content-production {
    h4 {
      color: $blue;
    }
    .product-tile {
      background: linear-gradient(135deg, white 0%, #f5fcff 100%);
    }
  }

  .sliders-explanation {
    margin: 0 30px 0 0;
    p {
      font-size: 1.5rem;
    }
  }

  #management-distribution {
    background: #fff;
    padding: 60px 0 80px;
    text-align: center;

    p.centered-text {
      margin: 0 auto 25px;
    }
    .fa {
      font-size: 3rem;
      margin: 0 5px;
    }
    h4 {
      color: $purple;
      text-align: center;
      font-size: 1.7rem;
      margin: 0 0 10px;
    }
  }

  #management-distribution .product-tile {
    background: linear-gradient(135deg, white 0%, #f2f4ff 100%);

    hr {
      margin: 15px;
    }
    input[type="checkbox"], input[type="radio"] {
      position: absolute;
      visibility: hidden;
    }
    .product-price {
      width: 170px;
      margin: 20px auto 10px;
      font-size: 1.5rem;
      padding: 10px 0;
      border-radius: 3px;
      font-weight: 700;
      color: #fff;
      background: $purple;
    }
    p.description {
      font-size: 1.5rem;
      margin: 0 15px 10px;
    }
    .fa.active {
      color: $purple;
    }
    .form-control {
      width: 70px;
      display: inline;
      border: 1px solid $light_gray;
      margin: 0 5px 0;
      vertical-align: 35%;
      padding: 6px 8px;
    }
    label {
      margin: 0;
    }

  }

  #management-products {
    .mgmt-product {
      display: inline-block;
      label {
        cursor: pointer;
        .fa {
          transition: all 0.2s ease;
        }
        &:hover {
          .fa {
            color: $purple;
            opacity: 0.7;
          }
        }
        &.active {
          .fa {
            color: $purple;
            opacity: 1;
          }
        }
      }
    }
  }

  #rss-products {
    .product-tile {
      .fa {
        margin: 0 5px 0;
      }
      p.description {
        margin: 28px 15px 37px;
      }
    }
  }

  #distribution-products {
    h4 {
      margin: 0 0 30px;
    }
    .slider-wrapper .slider-info {
      width: 45px;
    }
    .slider.slider-horizontal {
      width: calc(100% - 165px);
    }
    .slider-title {
      color: $characoal_gray;
      margin: 0;
      .fa {
        margin: -2px 5px 0;
        font-size: 3rem;
        &.active {
          color: $purple;
        }
      }

    }
  }

  #review-anchor {
    position: absolute;
    margin-top: -50px;
  }

  #review {
    padding: 60px 0 80px;
    background: linear-gradient(180deg, #ffdfd0 0, #fff 50%);
    // background: linear-gradient(180deg, #fde0d3 0, #fff 50%);

    p {
      margin: 20px auto 50px;
    }
  }

  #terms-wrapper {
    width: 100%;
    margin: 70px auto 0;
    text-align: center;
    p {
      display: inline-block;
      font-size: 1.53rem;
    }
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      vertical-align: -25%;
      margin: 0 5px 0;
    }
  }

  #empty-package {
    background: linear-gradient(45deg, #fedad8 0, #fcdccd 100%);
    padding: 40px 0;
    width:  700px;
    margin: 0 auto 20px auto;
    text-align: center;
    border-radius: 4px;
    h3 {
      margin: 0 0 10px;
    }
    h4 {
      margin: 0;
      width: auto;
    }
  }

  .proceed {
    margin: 30px 0 20px;
  }

  #total-widget {
    background: rgba(0, 0, 0, 0.58);
    position: fixed;
    z-index: 10;
    bottom: 15px;
    left: 15px;
    padding: 14px 20px;
    border-radius: 4px;
    p {
      color: #fff;
      margin: 0;
      font-size: 1.6rem;
      display: inline;
    }
    a {
      color: #fff;
      border: none;
    }
    form {
      display: inline;
    }
    button {
      background: transparent;
      border: none;
      outline: none;
      display: inline;
      padding: 0;
      vertical-align: -5%;
    }
    .fa {
      font-size: 2rem;
      border: 0;
      color: $red;
      margin-left: 8px;
      &.fa-arrow-circle-down {
        vertical-align: -7%;
        color: $blue;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

}
