#thankyou {

  section {
    background: linear-gradient(45deg, #fedad8 0, #fcdccd 100%);
    text-align: center;
    padding: 100px 0;

    h1 {
      padding: 0;
    }
    img {
      width: 350px;
      margin: 0 0 30px;
    }
  }

}
